
/*------------------------------------ colors ------------------------------------*/
.bg-color-indigo {
	background-color: rgb(32,35,64) !important;
}

.bg-color-pale-indigo {
	background-color: rgb(197,202,233) !important;
}

/*------------------------------------ general ------------------------------------*/
.header-height {
	height: 6vh;
}

.content-height {
	height: 94vh;
}

/*------------------------------------ borders ------------------------------------*/
.debug-border {
	border: 1px solid blue;
}

.border-left {
	border-left: 1px solid white;
}
.border-right {
	border-right: 1px solid white;
}
.border-x {
	border-right: 1px solid white;
	border-left: 1px solid white;
}