/*---------------------------------- general ---------------------------------*/
.header-height {
	height: 50px;
}

.content-height {
  height: calc(100vh - 50px);
  overflow: auto;
}

.graph-container {
  overflow: auto;
}

.full-screen-button {
  position: fixed;
  left: 25px;
  bottom: 20px;
  z-index: 2;
  color: #6c757d;
  font-size: 1.8em;
  border: none;
  outline: none;
  background-color: rgba(0, 0 , 0, 0.2);
  border-radius: 50%;
  padding: 0.4em;
  transition: background-color 300ms;
}
.full-screen-button:hover {
  background-color: rgba(0, 0 , 0, 0.8);
}
.full-screen-button:focus {
  border: none;
  outline: none;
}

.full-screen-card{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  height: 100% !important;
}

.table-row-like-link:hover{
  cursor: pointer;
}

/*------------------------------------ colors ----------------------------------
.bg-color-indigo {
	background-color: rgb(32,35,64) !important;
}

.bg-color-pale-indigo {
	background-color: rgb(232,234,246) !important;
}

.bg-color-gray {
	background-color:#252526 !important;
}
.bg-color-dark-gray {
	background-color: #1E1E1E !important;
} */ 

/*----------------------------------- fixes ----------------------------------*/
.remove-outline {outline: none !important; box-shadow: none !important;}

/*------------------------------- fix react-vis ------------------------------*/
.rv-discrete-color-legend-item {
  color: #f8f9fa !important;
}
.rv-discrete-color-legend-item.disabled {
  color:#6c757d !important;
}

.rv-discrete-color-legend-item.clickable:hover {
  border-radius: 2px;
  background: #252526 !important;
}

.rv-search-wrapper__form__input {
  background: transparent !important;
  border-color: #252526 !important;
}

/*--------------------------------- fix forms --------------------------------*/


/*----------------------------- device cards ---------------------------------*/
.card-hover {
  transition: box-shadow .3s, border-color .3s;
}
.card-hover:hover {
  border-color: rgba(0, 123, 255, .5) !important;
  box-shadow: 0 0 5px rgb(0, 123, 255); 
}
#myVideo {
  position: fixed;
  right: -15px; 
  top: -15px;
  min-width: calc(100vw + 30px);
  min-height: calc(100vh + 30px);
}

/*--------------------------------- borders ----------------------------------*/
.debug-border {
	border: 1px solid blue;
}

.border-x {
	border-right: 1px solid white;
	border-left: 1px solid white;
}

/*------------------------------ graph buttons -------------------------------*/
.btn-graph {
  display: block;
  position: absolute !important;
  top: -10px;
  left: 40px;
  z-index: 300;
  opacity: 0.4;
  transition: opacity 300ms;
}
.btn-graph:hover {
  opacity: 1;
}


/*---------------------------------- modal -----------------------------------*/
/* The Modal (background) */
.modal-bg {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}