.dark-thema .navbar-color-primary {background-color: rgb(32,35,64) !important;}
.dark-thema .navbar-text-color-logo {color: #fff !important;}
.dark-thema .navbar-text-color-primary {color: rgba(255,255,255,.5) !important;}

.dark-thema .sidebar-color-primary {background-color:#252526 !important;}
.dark-thema .sidebar-color-secondary {background-color:#343a40 !important;}

.dark-thema .desk-color-primary {background-color:#1E1E1E !important;}
.dark-thema .desk-color-secondary {background-color:#343a40 !important;}


/* ----------------------------------------------------------------------*/
.light-thema .navbar-color-primary {background-color: #01579B !important;}
.light-thema .navbar-text-color-logo {color: #fff !important;}
.light-thema .navbar-text-color-primary {color: rgba(255,255,255,.7) !important;}

.light-thema .sidebar-color-primary {background-color:#ECEFF1 !important;}
.light-thema .sidebar-color-secondary {background-color:#CFD8DC !important;}

.light-thema .desk-color-primary {background-color:#FAFAFA !important;}
.light-thema .desk-color-secondary {background-color:#ECEFF1 !important;}



